<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>ZetaSecond: Log your time</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" charset="utf-8" />
	<!--[if lt IE 8]><link rel="stylesheet" href="/css/style_ie.css" type="text/css" media="all" charset="utf-8" /><![endif]-->
	
</head>

<body>
	
	<div id="siteholder">
		
		<!-- header -->
		<div id="header">
			<div class="wrap clear">

				<!-- logo -->
				<div id="logo">
					<h1><a href="/"><img src="images/icon.jpg" width="60" height="60" alt="logo" title="logo" class="img-left" />ZetaSecond</a></h1>
				</div>
				<!-- / logo -->
				
				<!-- mainnav -->
				<div id="mainnav">
					<div class="mainnavwrap">
					</div>
				</div>
				<!-- / mainnav -->
			</div>
		</div>
		<!-- / header -->
		
		<!-- middle -->
		<div id="middle" class="clear">
		  
		  <!-- subnav -->
			<div id="subnav">
				<ul class="clear">
					<li ><span><a href="index.html">What is this page about?</a></span></li>
					<li class="act"><span><a href="index.html">I want to Join</a></span></li>
					<li ><span><a href="index.html">I forgot my login</a></span></li>
					<li ><span><a href="index.html">About and Info</a></span></li>
				</ul>
			</div>
			<!-- / subnav -->
		  
		  <!-- content -->
			<div id="content">
				
				<!-- form -->
				<form action="/UserGen" method="post">
					<h3>Please add the name of the user. Users names can only be [a-zA-Z0-9_]</h3>

					<p><label for="input_1">Name</label><br />
					<input type="text" name="uname" class="in" />

					<p><label for="input_2">Email</label><br />
					<input type="text" name="email" class="in" />

					<p><button name="submit" id="submit" type="submit">Add User</button></p>
				</form>
				<!-- / form -->
		  
		  </div>
		  <!-- / content -->
		  
		  
		</div>
		<!-- / middle -->
		
		<!-- footer -->
		<div id="footer">
			<div class="wrap">
				<p class="cp">&copy; 2009 <a href="index.html">your name here</a> all rights reserved. designed by <a href="http://www.renehornig.com/" title="webdesign berlin">webdesign berlin</a></p>
			</div>
		</div>
		<!-- / footer -->
		
	</div>

</body>
</html>
