<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>serious business</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" charset="utf-8" />
	<!--[if lt IE 8]><link rel="stylesheet" href="css/style_ie.css" type="text/css" media="all" charset="utf-8" /><![endif]-->
	
</head>

<body>
	
	<div id="siteholder">
		
		<!-- header -->
		<div id="header">
			<div class="wrap clear">

				<!-- logo -->
				<div id="logo">
					<h1><a href="index.html">serious business</a></h1>
				</div>
				<!-- / logo -->
				
				<!-- mainnav -->
				<div id="mainnav">
					<div class="mainnavwrap">
					  <ul class="clear">
              <li><a href="index.html">Home</a></li>
              <li class="act"><span>About</span></li>
              <li><a href="index.html">News</a></li>
              <li><a href="index.html">Work</a></li>
              <li><a href="index.html">Contact</a></li>
  					</ul>
					</div>
				</div>
				<!-- / mainnav -->
			</div>
		</div>
		<!-- / header -->
		
		<!-- middle -->
		<div id="middle" class="clear">
		  
		  <!-- subnav -->
			<div id="subnav">
				<ul class="clear">
					<li><a href="index.html">sociis natoque penatibus</a></li>
					<li><a href="index.html">magnis dis parturient </a></li>
					<li><a href="index.html">montes nascetur ridiculus </a></li>
					<li class="act"><span>Etiam bibendum egestas</span></li>
					<li><a href="index.html">Quisque eleifend consequat</a></li>
					<li><a href="index.html">Curabitur commodo </a></li>
					<li><a href="index.html">Nulla ut nisi.</a></li>
				</ul>
			</div>
			<!-- / subnav -->
		  
		  <!-- content -->
			<div id="content">
				<h2>Another free css template</h2>
				<p class="teaser">Ut imperdiet urna. Vestibulum risus elit, tincidunt <a href="index.html">commodo</a>, accumsan id, iaculis quis, tortor. Vivamus at massa convallis ipsum facilisis lacinia. Vestibulum est massa, consequat sed, sollicitudin eget, sodales semper, sem. Vivamus vitae justo id risus blandit blandit. Praesent vehicula velit id risus. Nam adipiscing turpis. Nulla facilisi. Proin viverra lectus in massa.</p>

				<h3>Sed nec lorem sed lacus faucibus aliquet.</h3>
				<p>Proin sit amet turpis at nulla tempus elementum. In hac habitasse platea dictumst. Sed cursus. Curabitur mattis aliquet libero. Quisque posuere est ac enim. Sed lobortis. Vivamus eros. Vestibulum et massa faucibus sapien cursus pretium. Sed at urna. Fusce urna. Praesent faucibus pharetra mauris. Morbi mauris nunc, blandit in, iaculis vitae, pulvinar et, metus. Donec sit amet sem. Nullam viverra libero non arcu.</p>
				<p><img src="images/testimg.gif" width="110" height="110" alt="testimg" title="testimg" class="img-left" /> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <a href="index.html">Etiam bibendum</a> egestas purus. Quisque eleifend consequat ipsum. Sed dolor sapien, aliquet eu, vulputate vitae, interdum ut, nulla. Ut ut justo non mi mattis dignissim. Integer rhoncus tellus eget justo. Sed nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam laoreet sem in nibh. Aliquam erat volutpat. Nam feugiat tincidunt diam. Aenean consectetur. Fusce luctus massa a orci. Mauris sagittis nulla vel mauris. Aenean lacus. Fusce suscipit dolor in augue. Aliquam quam. Vestibulum velit tortor, sagittis vitae, ultrices nec, euismod sed, est. Curabitur commodo nulla ut nisi.</p>

				<h4>Sed nec lorem sed lacus faucibus aliquet.</h4>
				<p><img src="images/testimg.gif" width="110" height="110" alt="testimg" title="testimg" class="img-right" /> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam bibendum egestas purus. Quisque eleifend consequat ipsum. Sed dolor sapien, aliquet eu, vulputate vitae, interdum ut, nulla. Ut ut justo non mi mattis dignissim. Integer rhoncus tellus eget justo. Sed nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam laoreet sem in nibh. Aliquam erat volutpat. Nam feugiat tincidunt diam. Aenean consectetur. Fusce luctus massa a orci. Mauris sagittis nulla vel mauris. Aenean lacus. Fusce suscipit dolor in augue. Aliquam quam. Vestibulum velit tortor, sagittis vitae, ultrices nec, euismod sed, est. Curabitur commodo nulla ut nisi.</p>
				
				<h3>Code</h3>
				<pre>
class Array
def real_intersection(arr2)
self_sorted = self.sort
target_sorted = arr2.sort
intersection= []
jstart=0
for i in (0..self_sorted.length-1)
for j in (jstart..target_sorted.length-1)
if self_sorted[i] == target_sorted[j]
  jstart = j+1
  intersection[intersection.length] = self_sorted[i]
  break
end
end
end
return intersection
end
end
				</pre>
				
				<h3>Cite</h3>
				<blockquote>
					<p>Proin sit amet turpis at nulla tempus elementum. In hac habitasse platea dictumst. Sed cursus. Curabitur mattis aliquet libero. Quisque posuere est ac enim. Sed lobortis. Vivamus eros. Vestibulum et massa faucibus sapien cursus pretium. Sed at urna. Fusce urna. Praesent faucibus pharetra mauris. Morbi mauris nunc, blandit in, iaculis vitae, pulvinar et, metus. Donec sit amet sem. Nullam viverra libero non arcu.</p>
				</blockquote>
				


				<h3>Unordered list</h3>
				<ul>
					<li>Maecenas turpis leo, vestibulum id</li>
					<li>aliquam et, posuere eget, nisl
						<ul>
							<li>uis a purus vitae est convallis
								<ul>
									<li>Aliquam a dolor. Aenean velit tortor</li>
									<li>adipiscing porttitor, ultricies id</li>
								</ul>
							</li>							
							<li>porta at, sem. Maecenas vulputate</li>
						</ul>
					</li>					
					<li>massa rhoncus facilisis consectetur</li>
					<li>odio nisl condimentum ligula, ac</li>
				</ul>

				<h3>Table</h3>
				<table>
					<thead>
						<tr>
							<th>Maecenas turpis leo</th>
							<th>aliquam et, posuere eget, nisl</th>
							<th class="ri">uis a purus itae</th>
						</tr>
					</thead>

					<tbody>
						<tr class="even">
							<td>Maecenas turpis leo</td>
							<td>aliquam et, posuere eget, nisl</td>
							<td class="ri">uis a purus itae</td>
						</tr>
						<tr class="odd">
							<td>Maecenas turpis leo</td>
							<td>aliquam et, posuere eget, nisl</td>
							<td class="ri">uis a purus itae</td>
						</tr>
						<tr class="even">
							<td>Maecenas turpis leo</td>
							<td>aliquam et, posuere eget, nisl</td>
							<td class="ri">uis a purus itae</td>
						</tr>
						<tr class="odd">
							<td>Maecenas turpis leo</td>
							<td>aliquam et, posuere eget, nisl</td>
							<td class="ri">uis a purus itae</td>
						</tr>
					</tbody>
				</table>

				<!-- form -->
				<form id="form" method="post" action="">
					<h3>form</h3>

					<p><label for="input_1">label 1</label><br />
					<input type="text" name="input_1" id="input_1" value="input 1" class="in" /></p>

					<p><label for="input_2">label 2</label><br />
					<input type="text" name="input_2" id="input_2" value="input 2" class="in" /></p>

					<p><label for="textarea_1">label 3</label><br />
					<textarea name="textarea_1" id="textarea_1" cols="10" rows="10" class="in">textarea</textarea></p>

					<p><button name="submit" id="submit" type="submit">submit</button></p>
				</form>
				<!-- / form -->
		  
		  </div>
		  <!-- / content -->
		  
		  
		</div>
		<!-- / middle -->
		
		<!-- footer -->
		<div id="footer">
			<div class="wrap">
				<p class="cp">&copy; 2009 <a href="index.html">your name here</a> all rights reserved. designed by <a href="http://www.renehornig.com/" title="webdesign berlin">webdesign berlin</a></p>
			</div>
		</div>
		<!-- / footer -->
		
	</div>

</body>
</html>
